alipay-sdk-python==3.3.202
amqp==2.5.1
appnope==0.1.0
backcall==0.1.0
billiard==3.6.1.0
celery==4.3.0
certifi==2019.9.11
chardet==3.0.4
decorator==4.4.1
Django==1.11.25
django-haystack==2.8.1
django-redis==4.10.0
django-redis-cache==2.0.0
django-redis-sessions==0.6.1
django-tinymce==2.6.0
idna==2.8
importlib-metadata==0.22
ipython==7.9.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
jedi==0.15.1
jieba==0.39
kombu==4.6.4
more-itertools==7.2.0
mutagen==1.42.0
mysqlclient==1.4.4
parso==0.5.1
pexpect==4.7.0
pickleshare==0.7.5
Pillow==8.2.0
prompt-toolkit==2.0.10
ptyprocess==0.6.0
py3Fdfs==2.2.0
pyasn1==0.4.7
pycrypto==2.6.1
Pygments==2.4.2
PyMySQL==0.9.3
pytz==2019.2
redis==3.3.8
requests==2.22.0
rsa==4.0
six==1.12.0
traitlets==4.3.3
urllib3==1.25.3
vine==1.3.0
wcwidth==0.1.7
Whoosh==2.7.4
zipp==0.6.0
